<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="e1aed44d-3437-4322-b105-925e35e70080" Publisher="CN=Tony" Version="0.1.0.0" />
  <Properties>
    <DisplayName>Alix</DisplayName>
    <PublisherDisplayName>afmco</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Alix.Win8.App">
      <VisualElements DisplayName="Alix" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Alix" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="logoOnly" ShortName="Alix" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>